@charset "utf-8";

        .nHome{
	background-image: url(nav-bar.gif);
	background-position: 0px -192px;
	background-repeat: no-repeat
        }
        
        .nOverview{
	background-image: url(nav-bar.gif);
	background-position: 0px -160px;
	background-repeat: no-repeat
        }

        
        .nLocation{
	background-image: url(nav-bar.gif);
	background-position: 0px -128px;
	background-repeat: no-repeat
        }
        
        .nAvailable{
	background-image: url(nav-bar.gif);
	background-position: 0px -96px;
	background-repeat: no-repeat
        }
        
        .nAmenities{
	background-image: url(nav-bar.gif);
	background-position: 0px -32px;
	background-repeat: no-repeat
        }
        
        .nContact{
	background-image: url(nav-bar.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat
        }
        
        .nOff{
	background-image: url(nav-bar.gif);
	background-position: 0px -224px;
	background-repeat: no-repeat
        }
		
body {
	background-color: #E2E3C1;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding-left: 0px;
	list-style-type: square;
	list-style-position: inside;
	padding-right: 0px;
	line-height: 20px;
}
a.text:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0099CC;
	padding-left: 20px;
	list-style-type: square;
	list-style-position: inside;
	text-decoration: underline;
}
a.text:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	padding-left: 20px;
	list-style-type: square;
	list-style-position: inside;
}
a.text:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	padding-left: 20px;
	list-style-type: square;
	list-style-position: inside;
}
.tablebkgd {
	background-color: #FFFFFF;
	border: 15px solid #FFFFFF;
}
.text-large {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
}
.main-header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: italic;
	line-height: normal;
	font-weight: lighter;
	font-variant: normal;
	text-transform: none;
	color: #543019;
}
.table-lines {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	line-height: 20px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.nProject {
	background-image: url(nav-bar.gif);
	background-position: 0px -64px;
	background-repeat: no-repeat
}
.main-header-green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: italic;
	line-height: normal;
	font-weight: lighter;
	font-variant: normal;
	text-transform: none;
	color: #9A9B27;
}
.picbkgd {
	background-image: url(1.jpg);
	height: 336px;
	width: 610px;
}
